$bc_color:   linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$hillel_color:#1C4280;
$wb_color:#143646;
$tapgerin_color:#F48B30;
$dLook_color:#9E4DC3;
$arangear_color:#FD9339;
$adtell_color: #E2E2E4;
$clickky_color: #C71C36;
$ec_color:#DCF3F9;
$infa_color: #DCF3F9;
$cityPark_color:#282240;
$art-print_color:#1D4568;
$uCard_color:#000000;


